<nav class="navbar navbar-fixed-top " role="navigation" style="margin-bottom: 0;" id="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">America Complains</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if !current_user.nil? && current_user.admin? %>
          <li><%= link_to "Update Database", admin_update_data_path %></li>
          <li><%= link_to "Update Businesses", admin_update_businesses_path %></li>
          <li><%= link_to "Update Business Yelp IDs", admin_update_yelp_ids_path %></li>
        <% end %>
      </ul>

      <form method="post" id="geocoding_form" class="navbar-form navbar-left" style ="margin: 10px 0 0 0">
          <div class="input">
            <input type="text" id="address" name="address" placeholder="state, city, zipcode"/>
            <input type="submit" class="btn btn-default btn-sm" value="Search" />
          </div>
        </form>

      <ul class="nav navbar-nav navbar-right" style="color:white">
        <% unless current_user %>
          <li><%= link_to "Register", new_user_path, {style: "color:white"} %></li>
          <li><a href="/auth/twitter" style="color:white">Sign in with Twitter</a></li>
        <% end %>

        <% if current_user %>
          <li style="padding-top:15px">@<%= current_user.name %></li>
          <li style="color:white"><%= link_to "Logout", log_out_path, {style: "color:white"} %></li>
        <% end %>

        <% unless current_user %>
          <div class="login_form" id="login-form", style="display: flex">
            <%= form_tag log_in_path do %>
              <%= text_field_tag :email, nil, placeholder: "Email" %>
              <%= password_field_tag :password, nil, placeholder: "Password" %>
              <%= submit_tag value="Sign in", class: "btn btn-default btn-sm", id: "sigin-button" %>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>