<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Better Tomorrow</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if !current_user.nil? && current_user.admin? %>
          <li><%= link_to "Update Database", admin_update_data_path %></li>
        <% end %>
        <li><a href="/auth/twitter">Sign in with Twitter</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <%= form_tag(search_path, :method => "get", :class => "navbar-form navbar-left", :style => "margin: 10px 0 0 0") do %>
        <%= text_field_tag(:query, nil, :placeholder => "search") %>
        <%= submit_tag("Search") %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% unless current_user %>
          <li><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
        <% if current_user %>
          <li>@<%= current_user.name %></li>
        <% end %>
        <% unless current_user %>
        <div class="login_form" id="login-form">
          <%= form_tag log_in_path do %>
            <%= text_field_tag :email, nil, placeholder: "Email" %>
            <%= password_field_tag :password, nil, placeholder: "Password" %>
            <%= submit_tag value="Sign in", class: "btn btn-default btn-sm", id: "sigin-button" %>
          <% end %>
        </div>
      <% end %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>