<!DOCTYPE html>
<html>
<head>
  <title>SocialMobility</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?AIzaSyCZ5hhE15pCws_eQivuDxuK__G7_fOAPeMsensor=true"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script type="text/javascript" src="http://hpneo.github.io/gmaps/gmaps.js"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  $(document).ready(function(){

    map = new GMaps({
      div: '#map',
      lat: 21.74,
      lng: 56,
      zoom: 14,
      height: '500px',
      width: '1000px'
    });
  });


  GMaps.geolocate({
  success: function(position) {
    map.setCenter(position.coords.latitude, position.coords.longitude);
  },
  error: function(error) {
    alert('Geolocation failed: '+error.message);
  },
  not_supported: function() {
    alert("Your browser does not support geolocation");
  }
});
  </script>
</head>
<body>
 <%= render "shared/navbar" %>

 <%= yield %>


</body>
</html>
